@model BookMe.Application.ApplicationUser.Commands.RegisterApplicationUser.RegisterApplicationUserCommand
@{
    ViewData["Title"] = "Zarejestruj się";
}
<h2 class="mt-4 text-center">Zarejestruj się</h2>
<div class="container mt-4 d-flex justify-content-center">
    <div class="bg-secondary text-white px-5 pb-4 rounded w-50 text-center">
        <form asp-action="Register" method="post">
            <div class="form-group mt-4">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div class="text-danger font-weight-bold">@error.ErrorMessage</div>
                }
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Imię</label>
                <input asp-for="FirstName" class="form-control mt-1 text-center" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control mt-1 text-center" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control mt-1 text-center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Gender" class="control-label">Płeć</label>
                <select asp-for="Gender" class="form-control mt-1 text-center">
                    <option value="0">Mężczyzna</option>
                    <option value="1">Kobieta</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="AvatarUrl" class="control-label">Avatar URL</label>
                <input asp-for="AvatarUrl" class="form-control mt-1 text-center" />
                <span asp-validation-for="AvatarUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="control-label">Hasło</label>
                <input asp-for="Password" class="form-control mt-1 text-center" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ConfirmPassword" class="control-label">Potwierdź Hasło</label>
                <input asp-for="ConfirmPassword" class="form-control mt-1 text-center" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-dark">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

