@model BookMe.Application.Booking.Commands.UpdateBooking.UpdateBookingCommand

@{
    ViewData["Title"] = "Edytuj Rezerwację";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 bg-secondary text-white p-4 rounded">
            <h3 class="mb-4">Edytuj Wizytę</h3>
            <form asp-action="AdminEdit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="OfferId" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="OfferEncodedName" />
                <input type="hidden" asp-for="ServiceEncodedName" />
                <input type="hidden" asp-for="UserFullName" />
                <input type="hidden" asp-for="Offer" />

                <div class="form-group mb-2">
                    <label class="control-label font-weight-bold" asp-for="StartTime">Wybierz Datę</label>
                    <div class="input-group input-group-sm">
                        <input type="text" asp-for="StartTime" id="datetimepicker" name="StartTime" class="form-control flatpickr-input" value="@Model.StartTime.ToString("dd/MM/yyyy HH:mm")" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="calendar-button">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label class="control-label font-weight-bold mb-1" asp-for="EmployeeId">Wybierz Pracownika:</label>
                    <select id="employeeSelect" name="EmployeeId" class="form-control" asp-for="EmployeeId">
                        @if (ViewBag.Employees != null)
                        {
                            foreach (var employee in ViewBag.Employees)
                            {
                                <option value="@employee.Key">@employee.Value</option>
                            }
                        }
                        else
                        {
                            <option value="">No employees available</option>
                        }
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-dark btn-sm mt-2">Zapisz</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var startTimeValue = '@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")';
    </script>
    <script src="~/js/flatpickr.js" asp-append-version="true"></script>
}

